<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/feed.css">
</head>

<body>

    <body>
        <nav>
            <div class="logo">
                <h5>LOGO</h5>

            </div>
            <ul class="navLink">
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Projects</a></li>
            </ul>
            <div class="lines">
                <div class="l1"></div>
                <div class="l2"></div>
                <div class="l3"></div>
            </div>
        </nav>

        <header>
            <h1>Pinterest Style Image Galley</h1>
            <h2>with Responsive Navigation Bar</h2>
        </header>

        <div class="container">

            <div class="box">
                <a href="https://gallery1.charleskdesigns.com/image/001.jpg">
                    <img src="https://gallery1.charleskdesigns.com/image/001.jpg" alt="image"></a>
                <div class="caption">Nature beauty </div>
            </div>

            <div class="box">
                <a href="https://gallery1.charleskdesigns.com/image/002.jpg">
                    <img src="https://gallery1.charleskdesigns.com/image/002.jpg" alt="image"></a>
                <div class="caption">Art</div>
            </div>
 
            <div class="box">
                <a href="https://gallery1.charleskdesigns.com/image/003.jpg">
                    <img src="https://gallery1.charleskdesigns.com/image/003.jpg" alt="image"></a>
                <div class="caption">Beutiful Scene</div>
            </div>

            <div class="box">
                <a href="https://gallery1.charleskdesigns.com/image/029.jpg">
                    <img src="https://gallery1.charleskdesigns.com/image/029.jpg" alt="image"></a>
                <div class="caption">Night Tower</div>
            </div>

            <div class="box">
                <a href="https://images.unsplash.com/photo-1748025476920-7b79e80a0a7e?q=80&w=1172&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
                    <img src="https://images.unsplash.com/photo-1748025476920-7b79e80a0a7e?q=80&w=1172&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="image"></a>
                <div class="caption">White Tower</div>
            </div>

            <div class="box">
                <a href="https://gallery1.charleskdesigns.com/image/006.jpg">
                    <img src="https://gallery1.charleskdesigns.com/image/006.jpg" alt="image"></a>
                <div class="caption">Night </div>
            </div>


            <div class="box">
                <a href="https://gallery1.charleskdesigns.com/image/007.jpg">
                    <img src="https://gallery1.charleskdesigns.com/image/007.jpg" alt="image"></a>
                <div class="caption">Hd pics</div>
            </div>

            <div class="box">
                <a href="https://gallery1.charleskdesigns.com/image/008.jpg">
                    <img src="https://gallery1.charleskdesigns.com/image/008.jpg" alt="image"></a>
                <div class="caption">Sky </div>
            </div>

            <div class="box">
                <a href="https://images.unsplash.com/photo-1748878800908-dea596c128de?q=80&w=627&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
                    <img src="https://images.unsplash.com/photo-1748878800908-dea596c128de?q=80&w=627&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="image"></a>
                <div class="caption">Greenery </div>
            </div>

            <div class="box">
                <a href="https://gallery1.charleskdesigns.com/image/009.jpg">
                    <img src="https://gallery1.charleskdesigns.com/image/009.jpg" alt="image"></a>
                <div class="caption">Sunset </div>
            </div>

            <div class="box">
                <a href="https://plus.unsplash.com/premium_photo-1664366320037-6cad9e3c6e20?q=80&w=627&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
                    <img src="https://plus.unsplash.com/premium_photo-1664366320037-6cad9e3c6e20?q=80&w=627&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="image"></a>
                <div class="caption">Greenery 2</div>
            </div>

            <div class="box">
                <a href="https://gallery1.charleskdesigns.com/image/011.jpg">
                    <img src="https://gallery1.charleskdesigns.com/image/011.jpg" alt="image"></a>
                <div class="caption">Black Mirror </div>
            </div>


            <div class="box">
                <a href="https://images.unsplash.com/photo-1749367494428-baf0effb2cbf?q=80&w=736&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
                    <img src="https://images.unsplash.com/photo-1749367494428-baf0effb2cbf?q=80&w=736&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="image"></a>
                <div class="caption">Pleasant Sky </div>
            </div>

            <div class="box">
                <a href="https://gallery1.charleskdesigns.com/image/013.jpg">
                    <img src="https://gallery1.charleskdesigns.com/image/013.jpg" alt="image"></a>
                <div class="caption">Cat </div>
            </div>

            <div class="box">
                <a href="https://gallery1.charleskdesigns.com/image/014.jpg">
                    <img src="https://gallery1.charleskdesigns.com/image/014.jpg" alt="image"></a>
                <div class="caption">Snowy </div>
            </div>

            <div class="box">
                <a href="https://gallery1.charleskdesigns.com/image/015.jpg">
                    <img src="https://gallery1.charleskdesigns.com/image/015.jpg" alt="image"></a>
                <div class="caption">Planets </div>
            </div>


            <div class="box">
                <a href="https://gallery1.charleskdesigns.com/image/016.jpg">
                    <img src="https://gallery1.charleskdesigns.com/image/016.jpg" alt="image"></a>
                <div class="caption">Old PC </div>
            </div>

            <div class="box">
                <a href="https://gallery1.charleskdesigns.com/image/019.jpg">
                    <img src="https://gallery1.charleskdesigns.com/image/019.jpg" alt="image"></a>
                <div class="caption">Hd pics</div>
            </div>

            <div class="box">
                <a href="https://gallery1.charleskdesigns.com/image/020.jpg">
                    <img src="https://gallery1.charleskdesigns.com/image/020.jpg" alt="image"></a>
                <div class="caption">Greenery Scene</div>
            </div>

            <div class="box">
                <a href="https://gallery1.charleskdesigns.com/image/021.jpg">
                    <img src="https://gallery1.charleskdesigns.com/image/021.jpg" alt="image"></a>
                <div class="caption">Hd picture </div>
            </div>

            <div class="box">
                <a href="https://gallery1.charleskdesigns.com/image/022.jpg">
                    <img src="https://gallery1.charleskdesigns.com/image/022.jpg" alt="image"></a>
                <div class="caption">Hd Photo </div>
            </div>

            <div class="box">
                <a href="https://gallery1.charleskdesigns.com/image/023.jpg">
                    <img src="https://gallery1.charleskdesigns.com/image/023.jpg" alt="image"></a>
                <div class="caption">Pencils</div>
            </div>

            <div class="box">
                <a href="https://images.unsplash.com/photo-1748392029321-58793571f850?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
                    <img src="https://images.unsplash.com/photo-1748392029321-58793571f850?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="image"></a>
                <div class="caption">4k Pics </div>
            </div>

            <div class="box">
                <a href="https://gallery1.charleskdesigns.com/image/025.jpg">
                    <img src="https://gallery1.charleskdesigns.com/image/025.jpg" alt="image"></a>
                <div class="caption">Pictures </div>
            </div>

            <div class="box">
                <a href="https://gallery1.charleskdesigns.com/image/026.jpg">
                    <img src="https://gallery1.charleskdesigns.com/image/026.jpg" alt="image"></a>
                <div class="caption">Boat hd </div>
            </div>

            <div class="box">
                <a href="https://gallery1.charleskdesigns.com/image/027.jpg">
                    <img src="https://gallery1.charleskdesigns.com/image/027.jpg" alt="image"></a>
                <div class="caption">Watch hd </div>
            </div>




            <div class="box">
                <a href="https://gallery1.charleskdesigns.com/image/030.jpg">
                    <img src="https://gallery1.charleskdesigns.com/image/030.jpg" alt="image"></a>
                <div class="caption">Greenery pics </div>
            </div>



            <div class="box">
                <a href="https://gallery1.charleskdesigns.com/image/031.jpg">
                    <img src="https://gallery1.charleskdesigns.com/image/031.jpg" alt="image"></a>
                <div class="caption">NASA </div>
            </div>



            <div class="box">
                <a href="https://gallery1.charleskdesigns.com/image/032.jpg">
                    <img src="https://gallery1.charleskdesigns.com/image/032.jpg" alt="image"></a>
                <div class="caption">HD pics2 </div>
            </div>

            <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
            <script src="app.js"></script>
    </body>


</body>

</html>